*{
  font-family: Verdana;
  background-color: black;
  text-align: center;
  color: white;
}

h1{
  font-weight: normal;
  font-size: 50px;
  text-align: center;
}

.download{
  color: aquamarine;
  font-size: 16px;
}

h2{
  font-weight: 300;
  font-size: 42px;
}

.description{
  font-size: 21px;
  color: gray;
}

.footer{
  text-align: right;
  color: gray;
}
